$color_1: #3a3b45;
$color_2: #6e707e;
$color_3: red;
$color_4: #fff;
$background-color_1: #fff;
$background-color_2: #4e73df;
$background-color_3: #b5bdcb;

.noScroll {
    overflow: hidden;
}

#main {
    padding: 2rem;
    text-align: center;
    height: 100vh;
    background-image: url("../../assets/img/pzlileokmq6c1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .containerForPage {
        padding: 2em;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
        margin-top: 80px;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: $background-color_1;
        background-clip: border-box;
        border: 1px solid #e3e6f0;
        border-radius: 0.35rem;

        .containerForPageBody {
            flex: 1 1 auto;
            min-height: 1px;
            padding: 1.25rem;
            padding: 0 !important;

            .form {
                flex-wrap: wrap;
                margin-right: -0.75rem;
                margin-left: -0.75rem;
                padding: 3rem !important;

                .text-center {
                    text-align: center !important;

                    .text-label {
                        margin-bottom: 3rem;
                        font-weight: 400;
                        line-height: 1.2;
                        color: $color_1 !important;
                    }
                }

                .user {
                    .form-group-row {
                        margin-bottom: 1rem;
                        display: flex;
                        flex-wrap: wrap;
                        margin-right: -0.75rem;
                        margin-left: -0.75rem;

                        .col-input {
                            .col-input-flex {
                                display: flex;
                                align-items: center;

                                .input-box {
                                    display: flex;
                                    width: 100%;
                                    height: calc(1.5em + 0.75rem + 2px);
                                    padding: 1.5rem 1rem;
                                    font-size: 1rem;
                                    font-weight: 400;
                                    line-height: 1.5;
                                    color: $color_2;
                                    background-color: $background-color_1;
                                    background-clip: padding-box;
                                    border: 1px solid #d1d3e2;
                                    border-radius: 10rem;
                                    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                                }

                                .input-box-phone {
                                    width: 80%;
                                }

                                .input-box-format {
                                    width: 20%;
                                }

                                .pwdAppearContainer {
                                    margin-left: 10px;

                                    .pwdLogo {
                                        width: 20px;
                                        height: 20px;
                                    }
                                }
                            }

                            .redAsterisk {
                                color: $color_3;
                            }
                        }

                        .col-radio {
                            flex: 0 0 25%;
                            max-width: 25%;
                            padding: 0 20px;

                            .sex {
                                margin-right: 10px;
                            }
                        }

                        .col-dropdownlist {
                            flex: 0 0 50%;
                            max-width: 50%;
                            padding: 0 20px;

                            .dropdownlist {
                                display: block;
                                width: 100%;
                                height: calc(1.5em + 0.75rem + 2px);
                                padding: 0.375rem 0.75rem;
                                font-size: 1rem;
                                font-weight: 400;
                                line-height: 1.5;
                                color: $color_2;
                                background-color: $background-color_1;
                                background-clip: padding-box;
                                border: 1px solid #d1d3e2;
                                border-radius: 10rem;
                            }

                            .redAsterisk {
                                color: $color_3;
                            }
                        }

                        .col-input-login {
                            flex: 0 0 100%;
                            max-width: 100%;
                            padding: 0 20px;

                            .input-box {
                                display: flex;
                                width: 100%;
                                height: calc(1.5em + 0.75rem + 2px);
                                padding: 1.5rem 1rem;
                                font-size: 1rem;
                                font-weight: 400;
                                line-height: 1.5;
                                color: $color_2;
                                background-color: $background-color_1;
                                background-clip: padding-box;
                                border: 1px solid #d1d3e2;
                                border-radius: 10rem;
                                transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                            }

                            .pwdAppearContainer {
                                margin-left: 10px;

                                .pwdLogo {
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                        }
                    }

                    .btn-container {
                        display: flex;

                        .action-button {
                            font-weight: 400;
                            height: 50px;
                            color: $color_4;
                            background-color: $background-color_2;
                            text-align: center;
                            font-size: 1rem;
                            border-radius: 10rem;
                            width: 70%;
                            cursor: pointer;
                        }

                        .action-button-disabled {
                            font-weight: 400;
                            height: 50px;
                            color: $color_4;
                            background-color: $background-color_3;
                            text-align: center;
                            font-size: 1rem;
                            border-radius: 10rem;
                            width: 70%;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1441px) {
    #main {
        .containerForPage {
            .containerForPageBody {
                .form {
                    .user {
                        .form-group-row {
                            .col-input {
                                flex: 0 0 25%;
                                max-width: 25%;
                                padding: 0 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1440px) {
    #main {
        .containerForPage {
            .containerForPageBody {
                .form {
                    .user {
                        .form-group-row {
                            .col-input {
                                flex: 0 0 33.33%;
                                max-width: 33.33%;
                                padding: 0 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    #main {
        .containerForPage {
            .containerForPageBody {
                .form {
                    .user {
                        .form-group-row {
                            .col-input {
                                flex: 0 0 50%;
                                max-width: 50%;
                                padding: 0 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    #main {
        .containerForPage {
            .containerForPageBody {
                .form {
                    .user {
                        .form-group-row {
                            .col-input {
                                flex: 0 0 100%;
                                max-width: 100%;
                                padding: 0 20px;
                            }
                        }

                        .btn-container {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}