.sidebar__show {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100vw;
    padding: 0.6em 1.2em;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Mochiy Pop P one', sans-serif;
}

.sidebar__show .sidebar__button {
    float: left;
    height: 60px;
    width: 60px;
    cursor: pointer;
    background-color: white;
    border-radius: 20px;
    border: 1px solid black;
}

.sidebar__show .sidebar__btn__rotate {
    transform: rotate(90deg);
    border: 1px solid black;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.wrapper .overlay {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0
}

.wrapper .overlay .blurry {
    backdrop-filter: blur(20px);
    height: 100vh;
    z-index: 10;    
    width: 100%;
}

.wrapper .overlay .sidebar {
    height: 100vh;
    width: 330px;
    background-color: #fff;
}

.wrapper .overlay .sidebar .sidebar__hide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 120px;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Mochiy Pop P one', sans-serif;
}

.wrapper .overlay .sidebar .sidebar__hide .sidebar__button {
    height: 60px;
    width: 60px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20px;
    margin: 0 5px;
}

.wrapper .overlay .sidebar .sidebar__hide .sidebar__btn__right {
    transform: rotate(180deg);
}

.wrapper .overlay .sidebar .sidebar__menu {
    position: relative;
    width: 80%;
    margin: auto;
}

.wrapper .overlay .sidebar .sidebar__menu .sidebar__menu__item {
    display: flex;
    align-items: center;
    place-content: flex-start;
    font-size: 1.25rem;
    font-weight: 500;
    color: #555555;
    transition: color 0.3s ease-in-out;
    padding: 15px;
}

.wrapper .overlay .sidebar .sidebar__menu .active {
    color: #fff;
    background-color: #308efe;
    border-radius: 10px;
    width: 100%;
}

.wrapper .overlay .sidebar .sidebar__menu .sidebar__menu__item .sidebar__menu__item__icon {
    margin-right: 1rem;

}

.wrapper .overlay .sidebar .sidebar__menu .sidebar__menu__item .sidebar__menu__item__icon i {
    font-size: 1.75rem;
}

.wrapper .overlay .sidebar .sidebar__menu .sidebar__menu__indicator {
    position: absolute;
    top: 0;
    left: 50%;
    width: calc(100% - 40px);
    border-radius: 10px;
    background-color: #308efe;
    z-index: -1;
    transform: translateX(-50%);
    transition: 0.3s ease-in-out;
}

.wrapper .navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100vw;
    background-color: #fff;
    padding: 0.6em 1.2em;
}

.wrapper .navbar .navbar__hide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Mochiy Pop P one', sans-serif;
}

.wrapper .navbar .navbar__hide .sidebar__button {
    height: 60px;
    width: 60px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20px;
    margin: 0 5px;
}

.wrapper .navbar .navbar__hide .sidebar__btn__left {
    transform: rotate(-90deg);
}

.wrapper .navbar .navbar__menu {
    display: flex;
    position: relative;
}

.wrapper .navbar .navbar__menu .sidebar__menu__item {
    display: flex;
    align-items: center;
    place-content: flex-start;
    padding: 1rem 3rem;
    font-size: 1.25rem;
    font-weight: 500;
    color: #555555;
    transition: color 0.3s ease-in-out;
}

.wrapper .navbar .navbar__menu .active {
    color: #fff;
    background-color: #308efe;
    border-radius: 10px;
    width: 100%;
}

.wrapper .navbar .navbar__menu .sidebar__menu__item .sidebar__menu__item__icon {
    margin-right: 1rem;

}

.wrapper .navbar .navbar__menu .sidebar__menu__item .sidebar__menu__item__icon i {
    font-size: 1.75rem;
}

.wrapper .navbar .navbar__menu .sidebar__menu__indicator {
    position: absolute;
    top: 0;
    left: 50%;
    width: calc(100% - 40px);
    border-radius: 10px;
    background-color: #308efe;
    z-index: -1;
    transform: translateX(-50%);
    transition: 0.3s ease-in-out;
}