.sidebar__show {
    position: absolute;
    float: left;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Mochiy Pop P one', sans-serif;
}

.sidebar__show .sidebar__button {
    height: 80px;
    width: 80px;
    padding: 10px;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 330px;
    background-color: #fff;
}

.sidebar .sidebar__hide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 120px;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Mochiy Pop P one', sans-serif;
}

.sidebar .sidebar__hide .sidebar__button {
    height: 80px;
    width: 80px;
    padding: 10px;
    cursor: pointer;
}

.sidebar .sidebar__menu {
    position: relative;
}

.sidebar .sidebar__menu .sidebar__menu__item {
    display: flex;
    align-items: center;
    place-content: flex-start;
    padding: 1rem 3rem;
    font-size: 1.25rem;
    font-weight: 500;
    color: #555555;
    transition: color 0.3s ease-in-out;
}

.sidebar .sidebar__menu .active {
    color: #308efe;
}

.sidebar .sidebar__menu .sidebar__menu__item .sidebar__menu__item__icon {
    margin-right: 1rem;

}

.sidebar .sidebar__menu .sidebar__menu__item .sidebar__menu__item__icon i {
    font-size: 1.75rem;
}

.sidebar .sidebar__menu .sidebar__menu__indicator {
    position: absolute;
    top: 0;
    left: 50%;
    width: calc(100% - 40px);
    border-radius: 10px;
    background-color: #308efe;
    z-index: -1;
    transform: translateX(-50%);
    transition: 0.3s ease-in-out;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100vw;
    background-color: #fff;
    padding: 0.6em 1.2em;
}

.navbar .navbar__hide {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Mochiy Pop P one', sans-serif;
}

.navbar .navbar__hide .sidebar__button {
    height: 80px;
    width: 80px;
    padding: 10px;
    cursor: pointer;
}

.navbar .navbar__menu {
    display: flex;
    position: relative;
}

.navbar .navbar__menu .sidebar__menu__item {
    display: flex;
    align-items: center;
    place-content: flex-start;
    padding: 1rem 3rem;
    font-size: 1.25rem;
    font-weight: 500;
    color: #555555;
    transition: color 0.3s ease-in-out;
}

.navbar .navbar__menu .active {
    color: #308efe;
}

.navbar .navbar__menu .sidebar__menu__item .sidebar__menu__item__icon {
    margin-right: 1rem;

}

.navbar .navbar__menu .sidebar__menu__item .sidebar__menu__item__icon i {
    font-size: 1.75rem;
}

.navbar .navbar__menu .sidebar__menu__indicator {
    position: absolute;
    top: 0;
    left: 50%;
    width: calc(100% - 40px);
    border-radius: 10px;
    background-color: #308efe;
    z-index: -1;
    transform: translateX(-50%);
    transition: 0.3s ease-in-out;
}