.sidebar__show {
    position: absolute;
    float: left;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Mochiy Pop P one', sans-serif;

    .sidebar__button {
        height: 80px;
        width: 80px;
        padding: 10px;
        cursor: pointer;
    }
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 330px;
    background-color: #fff;

    .sidebar__hide {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 120px;
        font-size: 1.5rem;
        font-weight: 700;
        font-family: 'Mochiy Pop P one', sans-serif;

        .sidebar__button {
            height: 80px;
            width: 80px;
            padding: 10px;
            cursor: pointer;
        }
    }

    .sidebar__menu {
        position: relative;
        width: 80%;
        margin: auto;

        .sidebar__menu__item {
            display: flex;
            align-items: center;
            place-content: flex-start;
            font-size: 1.25rem;
            font-weight: 500;
            color: #555555;
            transition: color 0.3s ease-in-out;
            padding: 15px;

            .sidebar__menu__item__icon {
                margin-right: 1rem;

                i {
                    font-size: 1.75rem;
                }
            }
        }

        .active {
            color: #fff;
            background-color: #308efe;
            border-radius: 10px;
            width: 100%;
        }

        .sidebar__menu__indicator {
            position: absolute;
            top: 0;
            left: 50%;
            width: calc(100% - 40px);
            border-radius: 10px;
            background-color: #308efe;
            z-index: -1;
            transform: translateX(-50%);
            transition: 0.3s ease-in-out;
        }
    }
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100vw;
    background-color: #fff;
    padding: 0.6em 1.2em;

    .navbar__hide {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 80px;
        font-size: 1.5rem;
        font-weight: 700;
        font-family: 'Mochiy Pop P one', sans-serif;

        .sidebar__button {
            height: 80px;
            width: 80px;
            padding: 10px;
            cursor: pointer;
        }
    }

    .navbar__menu {
        display: flex;
        position: relative;

        .sidebar__menu__item {
            display: flex;
            align-items: center;
            place-content: flex-start;
            padding: 1rem 3rem;
            font-size: 1.25rem;
            font-weight: 500;
            color: #555555;
            transition: color 0.3s ease-in-out;

            .sidebar__menu__item__icon {
                margin-right: 1rem;

                i {
                    font-size: 1.75rem;
                }
            }
        }

        .active {
            color: #308efe;
        }

        .sidebar__menu__indicator {
            position: absolute;
            top: 0;
            left: 50%;
            width: calc(100% - 40px);
            border-radius: 10px;
            background-color: #308efe;
            z-index: -1;
            transform: translateX(-50%);
            transition: 0.3s ease-in-out;
        }
    }
}